// Fills the remaining space withing the itens in a toolbar-row
.fill-remaining-space {
    flex: 1 1 auto;
}

.toolbar {
    // display: flex;
    // justify-content: space-between;
}

    .toolbar-row {
        display: flex;
        justify-content: space-between;
    }

        .logo {

        }

            .logo-trello {
                width:180px;
            }

        .title {
            padding-left: 1vh;
        }

        .exit {
            cursor: pointer;
            display: inline-flex;
        }