/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,900');

body {
    background-color:#f9f9f9;
    font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Helpers */

.padding-20-0 {
    padding: 20px 0px;
}

.transparent-button {
    background-color: transparent;
    border-color: transparent;
    color: white;
}